<ion-header [translucent]="true">
  <ion-toolbar><ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-grid>
      <ion-row>

        <ion-col size="8"> <h1> Şekspir Müzikali</h1></ion-col>
        <ion-col size="2"><img class="logo" src="./assets/images/logo.png" alt=""></ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>


      <iframe width="741" height="417" src="https://www.youtube.com/embed/dvtkUwmd8jI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
       <p> Yapım: Pasaj Müzik/Oyun Atölyesi <br>
      
        Söz: W. Shakespeare <br>
        Müzik: Tolga Çebi <br>
        <br>
        Çeviren*: Haluk Bilginer <br>
        Yöneten-Kolaj: Kemal Aydoğan <br>
        Sahne Tasarımı: Bengi Günay <br>
        Işık Tasarımı: İrfan Varlı <br>
        Tasvir Tasarım: Özlem Karabay <br>
        Yönetmen Asistanları: Toğan Şerif Önay, Gözde Kırgız, Pınar Bekaroğlu <br><br>
        
        *Müzikaldeki bazı bölümlerde, Talat Sait Halman'ın (59. Sone, 60. Sone, 121. Sone, 129. Sone), Sabahattin Eyüboğlu'nun (Hamlet), Sevgi Sanlı'nın (Kuru Gürültü), Zeynep Avcı'nın (Hırçın Kız), Bülent Bozkurt'un (Fırtına, Macbeth, Size Nasıl Geliyorsa), İrfan Şahinbaş'ın (Kral Lear) ve Can Yücel'in (66. Sone) çevirileri kullanılmıştır.
         </p>
      
   
      

    </ion-row>
  </ion-grid>
</ion-content>




