<ion-header translucent no-border>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" size="small">
     <a href="/folder/Inbox"><ion-icon name="arrow-undo"></ion-icon></a>
    </ion-button>
    <h1>Şekspir Müzikali</h1>
    
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
  <iframe src="https://www.youtube.com/embed/dvtkUwmd8jI" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="playername">Şekspir Müzikali</h3>
      <h5 class="country">Yapım: Pasaj Müzik/Oyun Atölyesi <br>

        Söz: W. Shakespeare <br>
        Müzik: Tolga Çebi <br>
        
        Çeviren*: Haluk Bilginer <br>
        Yöneten-Kolaj: Kemal Aydoğan <br>
        Sahne Tasarımı: Bengi Günay <br>
        Işık Tasarımı: İrfan Varlı <br>
        Tasvir Tasarım: Özlem Karabay  <br>
        Yönetmen Asistanları: Toğan Şerif Önay, Gözde Kırgız, Pınar Bekaroğlu 
        </h5>
    </div>
  </div>

  
</ion-content>


