
  <ion-app>
    <ion-router-outlet>
    <ion-content fullscreen  scroll-y="false">
      <ion-slides  pager="true" [options]="slideOpts">

        <ion-slide>
          <br><br><br>   <p> Artivity'e Hoş Geldin!</p>
        </ion-slide>


        <ion-slide>
          <br><br>
          <p>Gidemediğin etkinlikler için pişman olma çünkü Artivity ile hepsi cebinde.</p>
        </ion-slide>

        <ion-slide> 
          <br><br><br>
          <ion-button fill="solid" expand="block" color="light"> <a href="/register">Register</a></ion-button> <br>
          <ion-button fill="solid" expand="block" color="light"> <a href="/login">Login</a></ion-button><br><br>
        <h1>Let's Start!</h1> 
        </ion-slide>


       
       

      </ion-slides>
    </ion-content>
  </ion-router-outlet>
  </ion-app>

