<ion-header [translucent]="true">
  <ion-toolbar><ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-grid>
      <ion-row>
        
        <ion-col size="8"> <h1> Artivity</h1></ion-col>
        <ion-col size="2"><img class="logo" src="./assets/images/logo.png" alt=""></ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>






 <ion-content [fullscreen]="true">
    <ion-grid>
      <ion-row>
        


  
        
        <ion-col size="6" >
           
        
              <iframe src="https://www.youtube.com/embed/dvtkUwmd8jI" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
         
        </ion-col>
        <ion-col size="6">
          
        
          <iframe src="https://www.youtube.com/embed/YKRBvoZC7p4" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
          
        </ion-col>
        <ion-col size="12">
         
       
          <iframe src="https://www.youtube.com/embed/o-gLbgpzCc8" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         
         
       </ion-col>
       <ion-col size="6" >
           
        
        <iframe  src="https://www.youtube.com/embed/iyq5VI2486I" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
   
        </ion-col>
        <ion-col size="6" >
           
        
          <iframe  src="https://www.youtube.com/embed/iyFHjQndReY" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
     
          </ion-col>
          <ion-col size="12" >
           
        
            <iframe  src="https://www.youtube.com/embed/cXY_rrnBkWw" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
     
          </ion-col>
          <ion-col size="6" >
           
        
            <iframe  src="https://www.youtube.com/embed/k3B1GCpxzyk" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
     
          </ion-col>
          <ion-col size="6" >
           
        
            <iframe  src="https://www.youtube.com/embed/9rJoB7y6Ncs" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
     
          </ion-col>
          <ion-col size="12" >
           
        
            <iframe  src="https://www.youtube.com/embed/_rfPt-DN1mw" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
     
          </ion-col>
          <ion-col size="6" >
           
        
            <iframe src="https://www.youtube.com/embed/svIAZ_upAbU" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
     
          </ion-col>
          <ion-col size="6" >
           
        
            <iframe  src="https://www.youtube.com/embed/76SHFNSMF90" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
     
          </ion-col>
          <ion-col size="12" >
           
        
            <iframe  src="https://www.youtube.com/embed/s_hYeCZo2Nw" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
     
          </ion-col>
          <ion-col size="6" >
           
        
            <iframe  src="https://www.youtube.com/embed/nepWR0SUrPU" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
     
          </ion-col>
          <ion-col size="6" >
           
        
            <iframe  src="https://www.youtube.com/embed/QkQapdgAa7o" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     
          </ion-col>
          <ion-col size="12" >
           
        
            <iframe  src="https://www.youtube.com/embed/rOjHhS5MtvA" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
     
          </ion-col>
          <ion-col size="6" >
           
            <iframe src="https://www.youtube.com/embed/ZvatsOA65ys" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         
      
     
          </ion-col>
          <ion-col size="6" >
           
        
            <iframe  src="https://www.youtube.com/embed/Wmg9zmmwrSg" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
     
          </ion-col>
          <ion-col size="12" >
           
            <iframe  src="https://www.youtube.com/embed/_Ofysvpgv7o" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
     
          </ion-col>
          <ion-col size="6" >
           
        
            <iframe  src="https://www.youtube.com/embed/Sk5zxA9UP2Q" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     
          </ion-col>
          <ion-col size="6" >
           
            <iframe  src="https://www.youtube.com/embed/JyLS_gIrpK4" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
     
          </ion-col>
          <ion-col size="12" >
           
            <iframe  src="https://www.youtube.com/embed/zz6GL6AFphU" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

     
          </ion-col>
          <ion-col size="6" >
           
            
            <iframe  src="https://www.youtube.com/embed/PtfawPj80YU" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     
          </ion-col>
          <ion-col size="6" >
           
            <iframe  src="https://www.youtube.com/embed/czFoUWwd6mI" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
     
          </ion-col>
         
          <ion-col size="12" >
           
            <iframe  src="https://www.youtube.com/embed/iuCHmNlFfog" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
     
          </ion-col>
          <ion-col size="6" >
           
            <iframe  src="https://www.youtube.com/embed/U32xsaC2HQ0" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
     
          </ion-col>
          <ion-col size="6" >
           
            <iframe  src="https://www.youtube.com/embed/5Fhmb_IW-xs" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
     
          </ion-col>
          <ion-col size="12" >
           
            <iframe src="https://www.youtube.com/embed/g75l8PvzVcw" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
     
          </ion-col>
          <ion-col size="6" >
           
            
            <iframe  src="https://www.youtube.com/embed/aIlF038k1v4" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     
          </ion-col>
          <ion-col size="6" >
           
            <iframe  src="https://www.youtube.com/embed/YTNdc8AH-Zg" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
     
          </ion-col>
          <ion-col size="12" >
           
            <iframe  src="https://www.youtube.com/embed/_ki-hK1WOjY" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
     
          </ion-col>
          <ion-col size="6" >
           
            <iframe  src="https://www.youtube.com/embed/6y72G0ITiUc" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
     
          </ion-col>
          <ion-col size="6" >
           
            
            <iframe  src="https://www.youtube.com/embed/wRXcFT7YSzo" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     
          </ion-col>
          <ion-col size="12" >
           
            <iframe  src="https://www.youtube.com/embed/BMwmY8XMWjg" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
     
          </ion-col>
          <ion-col size="6" >
           
            <iframe  src="https://www.youtube.com/embed/BjE0065rZGs" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
     
          </ion-col>
          <ion-col size="6" >
           
            <iframe  src="https://www.youtube.com/embed/6jlYp8DtMA4" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
     
          </ion-col>
          <ion-col size="12" >
           
            <iframe  src="https://www.youtube.com/embed/8ZtMVdnnm_Q" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
     
          </ion-col>
          <ion-col size="6" >
           
            
            <iframe  src="https://www.youtube.com/embed/4pCGLT65uMU" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     
          </ion-col>
          <ion-col size="6" >
           
            <iframe src="https://www.youtube.com/embed/uw8dW9Hyno0" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
     
          </ion-col>
          <ion-col size="12" >
           
            <iframe  src="https://www.youtube.com/embed/kLUFit8815c" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
     
          </ion-col>
          <ion-col size="6" >
           
            <iframe  src="https://www.youtube.com/embed/uCJDLgQ6xFk" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
     
          </ion-col>
          <ion-col size="6" >
           
              <iframe  src="https://www.youtube.com/embed/7SCA5hIwkbg" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              
       
            </ion-col>

  
            
           
            
            
     
        
          
          
      </ion-row>
    </ion-grid>
       
  
   
  </ion-content>
  
  


  

