<ion-header [translucent]="true">
  <ion-toolbar><ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-grid>
      <ion-row>

        <ion-col size="8"> <h1> Concert</h1></ion-col>
        <ion-col size="2"><img class="logo" src="./assets/images/logo.png" alt=""></ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>


  <ion-card >
    
    <iframe width="711" height="400" src="https://www.youtube.com/embed/QHDRRxKlimY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </ion-card>
      
  <ion-card >
    
    <iframe width="711" height="400" src="https://www.youtube.com/embed/UAziiPpXyg4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </ion-card>

  <ion-card >
    
    <iframe width="711" height="400" src="https://www.youtube.com/embed/O6tY5G7GLNw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </ion-card>


  <ion-card >
    
    <iframe width="711" height="400" src="https://www.youtube.com/embed/59aGzrp8lGM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </ion-card>


  <ion-card >
    
    <iframe width="711" height="400" src="https://www.youtube.com/embed/hO0cbPPweOg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </ion-card>


  <ion-card >
    
    <iframe width="711" height="400" src="https://www.youtube.com/embed/fSOT7mYZ6Cs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </ion-card>


  <ion-card >
    
    <iframe width="711" height="400" src="https://www.youtube.com/embed/ChdCV8Xd0OI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </ion-card>


  <ion-card >
    
    <iframe width="711" height="400" src="https://www.youtube.com/embed/16Z-XQh9jhk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </ion-card>


  <ion-card >
    
    <iframe width="711" height="400" src="https://www.youtube.com/embed/Sk5zxA9UP2Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </ion-card>


  <ion-card >
    
    <iframe width="711" height="400" src="https://www.youtube.com/embed/dnorWxfMQ5Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </ion-card>


  <ion-card >
    
    <iframe width="711" height="400" src="https://www.youtube.com/embed/h2Tzd7MiOj8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </ion-card>


  <ion-card >
    
    <iframe width="711" height="400" src="https://www.youtube.com/embed/7uauVGvTF-8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </ion-card>


  <ion-card >
    
    <iframe width="711" height="400" src="https://www.youtube.com/embed/s_hYeCZo2Nw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </ion-card>


  


 

  
  

    </ion-row>
  </ion-grid>
</ion-content>