<ion-header [translucent]="true">
  <ion-toolbar><ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-grid>
      <ion-row>

        <ion-col size="8"> <h1> Theatre</h1></ion-col>
        <ion-col size="2"><img class="logo" src="./assets/images/logo.png" alt=""></ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>


    
  <ion-card >
    
    <iframe width="711" height="400" src="https://www.youtube.com/embed/YTNdc8AH-Zg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </ion-card>

  <ion-card >
    
    <iframe width="711" height="400" src="https://www.youtube.com/embed/alKlrDmHzRc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </ion-card>

  <ion-card >
    
    <iframe width="711" height="400" src="https://www.youtube.com/embed/aIlF038k1v4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </ion-card>

  <ion-card >
    
    <iframe width="711" height="400" src="https://www.youtube.com/embed/yZ4ZDVdZPRI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </ion-card>

  <ion-card >
    
    <iframe width="711" height="400" src="https://www.youtube.com/embed/YKRBvoZC7p4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </ion-card>

  <ion-card >
    
    <iframe width="711" height="400" src="https://www.youtube.com/embed/G_zWIA2xxcY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </ion-card>

  <ion-card >
    
    <iframe width="711" height="400" src="https://www.youtube.com/embed/0TzD5W3Ddf4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </ion-card>

  <ion-card >
    
    <iframe width="711" height="400" src="https://www.youtube.com/embed/Punzss5sHto" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </ion-card>

  <ion-card >
    
    <iframe width="711" height="400" src="https://www.youtube.com/embed/PFwHmgA9nno" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </ion-card>

  <ion-card >
    
    <iframe width="711" height="400" src="https://www.youtube.com/embed/Cf79vaYdi2s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </ion-card>

  <ion-card >
    
    <iframe width="711" height="533" src="https://www.youtube.com/embed/bVmPr8_VKVM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </ion-card>

  <ion-card >
    
    <iframe width="711" height="400" src="https://www.youtube.com/embed/vWEskfjMBCg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </ion-card>

  

    </ion-row>
  </ion-grid>
</ion-content>