<ion-header [translucent]="true">
  <ion-toolbar><ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-grid>
      <ion-row>

        <ion-col size="8"> <h1> Tarkan</h1></ion-col>
        <ion-col size="2"><img class="logo" src="./assets/images/logo.png" alt=""></ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>


    
   <ion-card >
    
    <iframe width="400" height="360" src="https://www.youtube.com/embed/SIhxm2gnQ0M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </ion-card>
   
      <p>Tarkan - Concert in Moscow (Crocus City Hall 14.05.2019) <br><br>

        Tarkan's Band: <br>
        Virtuoso guitar player - Can Şengün (@metalupyoass) <br>
        Bass player guitarist - Alp Ersönmez (@ersonmezalp) <br>
        Percussionist, virtuoso drummer - Mehmet Akatay (@rakdumrakatay) <br>
        Drummer - Volkan Öktem (@volkanoktem) <br>
        Backing vocal - Altay Oktar (@altayoktar) <br>
        Backing vocal - Murat Aziret (@murataziret) <br>
        Guitar player - Ayhan Günyıl (@gunyilayhan) <br>
        Mixing Engineer, drummer - Tunç Çakır (@tunccakirrr) 
       </p>
   
      

    </ion-row>
  </ion-grid>
</ion-content>