<ion-header [translucent]="true">
  <ion-toolbar><ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-grid>
      <ion-row>

        <ion-col size="8"> <h1> Reis Bey</h1></ion-col>
        <ion-col size="2"><img class="logo" src="./assets/images/logo.png" alt=""></ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>


    
   <ion-card >
    
    <iframe width="360" height="400" src="https://www.youtube.com/embed/YTNdc8AH-Zg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </ion-card>
   
      <p>Görevinden hiç taviz vermeyen, yasalara son derece bağlı, kanun makinesi, taş kalpli bir ağır ceza reisinin vicdan muhasebesinin anlatıldığı oyunda, idam mahkûmu genç, Reis Bey’e şöyle haykırır: Reis Bey! Bu dünya dört köşe değildir. Mühürlü kalbinizin bir gün açılmasını dilerim!  Beni asacaksınız! Fakat, ruhum sizi bu dünyada ve ötelerde adım adım takip edecek!..
<br><br>
Yazan: Necip Fazıl Kısakürek <br>
Yöneten: Özer Tunca <br>

Dekor Tasarımı: Tayfun Çebi <br>
Kostüm Tasarımı: Funda Çebi <br>
Işık Tasarımı: Çetin Atay <br>
Müzik: Oktay Köseoğlu <br>
Dramaturg: Orhan Karataş <br>
Yönetmen Yardımcısı: Orkide Çivicioğlu <br>
Asistanlar: Tuba Erkan Tazebaş, Cihan Korkmaz <br>
      </p>
   
      

    </ion-row>
  </ion-grid>
</ion-content>